@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.logo__title {
	font-size: 2rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	color: #3B82F6;
}
.logo__symbol {
	font-size: 1rem;
	margin-right: 0.1875rem;
	color: #3f4049;
}